In [8]:
import os
currentwd = os.getcwd()
print(currentwd)

C:\Users\Don Krieg\python\titanic

In [9]:
#importing needed libraries and loading our data sources
import pandas as pd
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split

#define link to data source
data_source = "./input/titanic/train.csv"
test_source = "./input/titanic/train.csv"

#load data into program
titan_test = pd.read_csv(test_source)
titan_data = pd.read_csv(data_source)

#summary of data you will work with
titan_data.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [10]:
#exploring stored data to see how it looks like
titan_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [17]:
#define prediction target and features/predictors
y = titan_data.Survived
features = ['PassengerId', 'Pclass', 'Age', 'SibSp', 'Parch', 'Fare']
X = titan_data[features].copy()
X_test = titan_test[features].copy()

#define training and validation data
train_X, val_X, train_y, val_y = train_test_split(X, y, train_size=0.8, test_size=0.2, random_state=0)

In [24]:
train_X.head()

     PassengerId  Pclass   Age  SibSp  Parch     Fare
140          141       3   NaN      0      2  15.2458
439          440       2  31.0      0      0  10.5000
817          818       2  31.0      1      1  37.0042
378          379       3  20.0      0      0   4.0125
491          492       3  21.0      0      0   7.2500

In [22]:
from sklearn.impute import SimpleImputer

# Imputation
my_imputer = SimpleImputer()
imputed_train_X = pd.DataFrame(my_imputer.fit_transform(train_X))
imputed_val_X = pd.DataFrame(my_imputer.transform(val_X))

# Imputation removed column names; put them back
imputed_train_X.columns = train_X.columns
imputed_val_X.columns = val_X.columns

In [23]:
#explore training data to make sure it was successfully loaded
train_X.head()

     PassengerId  Pclass   Age  SibSp  Parch     Fare
140          141       3   NaN      0      2  15.2458
439          440       2  31.0      0      0  10.5000
817          818       2  31.0      1      1  37.0042
378          379       3  20.0      0      0   4.0125
491          492       3  21.0      0      0   7.2500

In [21]:
# training using a decision tree regressor/classifier
titan_model = DecisionTreeRegressor(random_state = 0)
titan_model.fit(train_X, train_y)
titan_preds = titan_model.predict(val_X)
print(mean_absolute_error(titan_preds, val_y))
print(titan_preds)

ValueError: Input contains NaN, infinity or a value too large for dtype('float32').

In [ ]:
#defining function to fine tune the decision tree by identifying the best max leaf node.
def get_mae(max_leaf_nodes, train_X, val_X, train_y, val_y):
    model = DecisionTreeRegressor(max_leaf_nodes=max_leaf_nodes, random_state=0)
    model.fit(train_X, train_y)
    preds_val = model.predict(val_X)
    mae = mean_absolute_error(preds_val, val_y)
    return mae

#use loop to send several leaf values in and out for predition and finding the best mae result
for max_leaf_nodes in [5, 50, 500, 5000]:
    my_mae = get_mae(max_leaf_nodes, train_X, val_X, train_y, val_y)
    print('Max Leaf Nodes:%d \t\t Mean Absolute Error:%d'%(max_leaf_nodes, my_mae))

In [ ]:
# Define the models
model_1 = RandomForestRegressor(n_estimators=50, random_state=0)
model_2 = RandomForestRegressor(n_estimators=100, random_state=0)
model_3 = RandomForestRegressor(n_estimators=100, criterion='mae', random_state=0)
model_4 = RandomForestRegressor(n_estimators=200, min_samples_split=20, random_state=0)
model_5 = RandomForestRegressor(n_estimators=100, max_depth=7, random_state=0)

models = [model_1, model_2, model_3, model_4, model_5]

In [ ]:
# Function for comparing different rf models
def rf_score_model(model, X_t=train_X, X_v=val_X, y_t=train_y, y_v=val_y):
    model.fit(X_t, y_t)
    preds = model.predict(X_v)
    return mean_absolute_error(y_v, preds)

for i in range(0, len(models)):
    mae = rf_score_model(models[i])
    print("Model %d MAE: %d" % (i+1, mae))

In [ ]:
# Define a model
my_model = RandomForestRegressor(n_estimators=100, criterion='mae', random_state=0) # Your code here

In [ ]:
# Fit the model to the training data
my_model.fit(X, y)

# Generate test predictions
preds_test = my_model.predict(X_test)

# Save predictions in format used for competition scoring
output = pd.DataFrame({'Id': X_test.index,
                       'SalePrice': preds_test})
output.to_csv('submission.csv', index=False)